{% extends 'base.html' %}

{% block head %}<title>CV BKS | Edit Arsitektur</title>{% endblock %}
{% block status_rab %} active {% endblock %}
{% block status_arsitektur %} active {% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Arsitektur</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/arsitektur">Arsitektur</a></li>
              <li class="breadcrumb-item active">Edit Arsitektur</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <!-- left column -->
          <!--/.col (left) -->
          <!-- right column -->
            <!-- general form elements -->
            <form action="/arsitektur/edit/{{ arsitektur.id }}" method="POST">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Deskripsi</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">Nama Proyek</label>
                        <select class="form-control" name="nama_proyek" style="width: 100%;">
                          {% for proyek in proyeks %}
                          <option {% if arsitektur.nama_proyek == proyek.nama_proyek %} value="{{ proyek.nama_proyek }}" selected {% endif %}>{{ proyek.nama_proyek }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="exampleInputEmail1">SubKategori</label>
                        <select class="form-control" name="subkategori" style="width: 100%;">
                          {% for sub in subkategori %}
                          <option {% if arsitektur.subkategori == sub.nama %} value="{{ sub.nama }}" selected {% endif %}>{{ sub.nama }}</option>
                          {% endfor %}
                        </select>
                      </div>
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Uraian</label>
                <input type="text" class="form-control" name="uraian" value="{{ arsitektur.uraian }}">
                </div>
                <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="exampleInputEmail1">Volume</label>
                    <input type="text" class="form-control" name="volume" value="{{ arsitektur.volume }}">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="exampleInputEmail1">Satuan</label>
                    <input type="text" class="form-control" name="satuan" value="{{ arsitektur.satuan }}">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="exampleInputEmail1">Harga Satuan</label>
                    <input type="text" class="form-control" name="harga_satuan" value="{{ arsitektur.harga_satuan }}">
                </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Jumlah</label>
                    <input type="text" class="form-control" name="jumlah" value="{{ arsitektur.jumlah }}">
                </div>
            </div>
            <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a href="/arsitektur" class="btn btn-warning float-right">Kembali</a>
                </div>
              
            </div>
            </form>
            <!-- /.card -->
          <!--/.col (right) -->
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
{% block script %}{% endblock %}