{% extends 'base.html' %}

{% block head %}<title>CV BKS | Tambah Pengeluaran</title>{% endblock %}
{% block status_neraca %} active {% endblock %}
{% block status_pengeluaran %} active {% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Tambah Pengeluaran</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/pengeluaran">Pengeluaran</a></li>
              <li class="breadcrumb-item active">Tambah Pengeluaran</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- Form Element sizes -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Foto Bukti</h3>
              </div>
              <div class="card-body">
                <img class="img-fluid pad" src="{{url_for('static', filename=bukti)}}" alt="Tidak Ada Foto Bukti">
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
          <!-- right column -->
          
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Deskripsi</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/pengeluaran/add" method="POST" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                        <label>Proyek</label>
                        <select class="form-control" name="nama_proyek" style="width: 100%;">
                          {% for proyek in proyeks %}
                          <option>{{ proyek.nama_proyek }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                          <label for="exampleInputEmail1">Tanggal</label>
                          <input type="date" class="form-control" name="tanggal" value="{{tgl}}">
                        </div>
                      </div>
                      <div class="col">  
                        <div class="form-group">
                          <label>SubKategori</label>
                          <select class="form-control" name="subkategori" style="width: 100%;">
                            {% for sub in subkategori %}
                            <option>{{ sub.nama }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="exampleInputEmail1">Nama Toko</label>
                      <input type="text" class="form-control" name="nama_toko" value="{{nama_toko}}" placeholder="Masukkan nama toko">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Deskripsi</label>
                        <input type="text" class="form-control" name="deskripsi" value="{{desk}}" placeholder="Masukkan deskripsi">
                        </div>
                      <div class="form-group">
                      <label for="exampleInputEmail1">Jumlah</label>
                      <input type="text" class="form-control" name="jumlah" value="{{jumlah}}" placeholder="Masukkan jumlah">
                      </div>

                      <input type="text" class="form-control" name="cekbukti" value="{{bukti}}" hidden>

                      <div class="form-group" style="margin-top: 10px;">
                        <label for="exampleInputFile">Foto Bukti</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" name="bukti">
                            <label class="custom-file-label" for="exampleInputFile">
                              {% if bukti %}
                              {{bukti}}
                              {% else %}
                              Masukkan Foto Bukti
                              {% endif %}
                            </label>
                          </div>
                        </div>
                      </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a href="/pengeluaran" class="btn btn-warning float-right">Kembali</a>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
{% block script %}
{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
         <script>
         $(document).Toasts('create', {
          class: 'bg-success',
          title: 'Success',
          icon: 'fas fa-check',
          body: '{{ message }}'
        })
      </script>
      {% endfor %}
   {% endif %}
{% endwith %}
{% endblock %}