{% extends 'base.html' %}

{% block head %}<title>CV BKS | Pengeluaran</title>{% endblock %}
{% block status_neraca %} active {% endblock %}
{% block status_pengeluaran %} active {% endblock %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Pengeluaran</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Pengeluaran</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-default">
            <i class="fas fa-plus"></i>Tambah
          </button>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 2%">
                          #
                      </th>
                      <th>
                          Nama Toko
                      </th>
                      <th style="width: 15%">
                          Tanggal
                      </th>
                      <th style="width: 15%">
                          Jumlah
                      </th>
                      <th style="width: 25%">
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              Toko Multimegah
                          </a>
                          <br/>
                          <small>
                              Inventaris
                          </small>
                      </td>
                      <td>
                          2020-11-25
                      </td>
                      <td>
                          Rp. 200.000
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              Lihat
                          </a>
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Hapus
                          </a>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              Toko Indahjaya
                          </a>
                          <br/>
                          <small>
                              Perlengkapan
                          </small>
                      </td>
                      <td>
                          2020-11-25
                      </td>
                      <td>
                          Rp. 3.000.000
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              Lihat
                          </a>
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Hapus
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Tambah Pengeluaran</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- form start -->
              <form>
                <div class="form-group">
                  <label for="exampleInputFile">Bukti</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="exampleInputFile">
                      <label class="custom-file-label" for="exampleInputFile">Masukkan Bukti</label>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text btn">Upload</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                    <label for="exampleInputEmail1">Tanggal</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" placeholder="Masukkan alamat">
                  </div>
                </div>
                <div class="col">  
                  <div class="form-group">
                    <label>SubKategori</label>
                    <select class="form-control" style="width: 100%;">
                      <option selected="selected">Alabama</option>
                      <option>Alaska</option>
                      <option>California</option>
                      <option>Delaware</option>
                      <option>Tennessee</option>
                      <option>Texas</option>
                      <option>Washington</option>
                    </select>
                  </div>
                </div>
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Nama Toko</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukkan nama toko">
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Barang</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukkan barang">
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Jumlah</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukkan jumlah">
                </div>
                
              </form>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block script %}
<script>
   $(document).ready(function(){
        $("#modal-default").modal('show');
    });
</script>
{% endblock %}