{% extends 'base.html' %}

{% block head %}<title>CV BKS | Pemasukan</title>{% endblock %}
{% block status_rab %} active {% endblock %}
{% block status_persiapan %} active {% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Persiapan</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Persiapan</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-default">
            <i class="fas fa-plus"></i>Tambah
          </button>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 2%">
                          #
                      </th>
                      <th>
                          Deskripsi
                      </th>
                      <th style="width: 15%">
                          Volume
                      </th>
                      <th style="width: 15%">
                          Jumlah
                      </th>
                      <th style="width: 25%">
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for persiapan in persiapans %}
                  <tr>
                      <td>
                          {{ persiapan.id }}
                      </td>
                      <td>
                          <a>
                              {{ persiapan.uraian }}
                          </a>
                          <br/>
                          <small>
                              {{ persiapan.nama_proyek }}
                          </small>
                      </td>
                      <td>
                          {{ persiapan.volume  }} {{ persiapan.satuan}}
                      </td>
                      <td>
                          Rp {{ persiapan.jumlah }}
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="/persiapan/{{ persiapan.id }}">
                              <i class="fas fa-folder">
                              </i>
                              Lihat
                          </a>
                          <a class="btn btn-info btn-sm" href="/persiapan/edit/{{ persiapan.id }}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="/persiapan/delete/{{ persiapan.id }}">
                              <i class="fas fa-trash">
                              </i>
                              Hapus
                          </a>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Tambah Persiapan</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/persiapan" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Proyek</label>
                        <select class="form-control" name="nama_proyek" style="width: 100%;">
                        {% for proyek in proyeks %}
                        <option>{{ proyek.nama_proyek }}</option>
                        {% endfor %}
                        </select>
                    </div>  
                    <div class="form-group">
                        <label>SubKategori</label>
                        <select class="form-control" name="subkategori" style="width: 100%;">
                            {% for sub in subkategori %}
                            <option>{{ sub.nama }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                    <label for="exampleInputEmail1">Uraian</label>
                    <input type="text" class="form-control" name="uraian" placeholder="Masukkan uraian">
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label for="exampleInputEmail1">Volume</label>
                            <input type="text" class="form-control" name="volume" placeholder="Masukkan volume">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="exampleInputEmail1">Satuan</label>
                            <input type="text" class="form-control" name="satuan" placeholder="Masukkan satuan">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="exampleInputEmail1">Harga Satuan</label>
                            <input type="text" class="form-control" name="harga_satuan" placeholder="Masukkan harga satuan">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Jumlah</label>
                      <input type="text" class="form-control" name="jumlah" placeholder="Masukkan jumlah">
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <input type="submit" class="btn btn-primary" value="Simpan">
                </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block script %}
{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
         <script>
         $(document).Toasts('create', {
          class: '{{ category }}',
          title: '{% if category == "bg-success" %}Success{% else %}Failed{% endif %}',
          icon: 'fas {% if category == "bg-success" %}fa-check {% else %}fa-times{% endif %}',
          body: '{{ message }}'
        })
      </script>
      {% endfor %}
   {% endif %}
{% endwith %}
{% endblock %}