{% extends 'base.html' %}

{% block head %}<title>CV BKS | Pemasukan</title>{% endblock %}
{% block status_neraca %} active {% endblock %}
{% block status_pemasukan %} active {% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Pemasukan</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Pemasukan</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-default">
            <i class="fas fa-plus"></i>Tambah
          </button>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 2%">
                          #
                      </th>
                      <th>
                          Deskripsi
                      </th>
                      <th style="width: 15%">
                          Tanggal
                      </th>
                      <th style="width: 15%">
                          Jumlah
                      </th>
                      <th style="width: 25%">
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for pemasukan in pemasukans %}
                  <tr>
                      <td>
                          {{ pemasukan.id }}
                      </td>
                      <td>
                          <a>
                              {{ pemasukan.deskripsi }}
                          </a>
                          <br/>
                          <small>
                              {{ pemasukan.nama_proyek }}
                          </small>
                      </td>
                      <td>
                          {{ pemasukan.tanggal }}
                      </td>
                      <td>
                          Rp {{ pemasukan.jumlah }}
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="/pemasukan/{{ pemasukan.id }}">
                              <i class="fas fa-folder">
                              </i>
                              Lihat
                          </a>
                          <a class="btn btn-info btn-sm" href="/pemasukan/edit/{{ pemasukan.id }}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="/pemasukan/delete/{{ pemasukan.id }}">
                              <i class="fas fa-trash">
                              </i>
                              Hapus
                          </a>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Tambah Pemasukan</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- form start -->
              <form action="/pemasukan" method="POST">
                <div class="form-group">
                  <label for="exampleInputFile">Foto Bukti</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="bukti">
                      <label class="custom-file-label" for="exampleInputFile">Masukkan Foto Bukti</label>
                    </div>
                    <div class="input-group-append">
                      <button type='submit' action="/pemasukan" class="input-group-text btn-primary">Scan</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a href="/pemasukan/add" class="btn btn-primary">Isi Manual</a>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}